numpy>=2.0.0
matplotlib>=3.10.0
jax[cuda12_pip]>=0.4.31
scipy>=1.15.0
anesthetic>=2.9.3
blackjax @ git+https://github.com/handley-lab/blackjax@41daed716462cc4b57af9da42aefb1eb27a532bb
jimgw @ git+https://github.com/kazewong/jim@03842792626c3a14ec8885f8076833324c391db2
astropy>=7.0.0
pathos
fgivenx
getdist
tqdm
bilby
corner